.class{
    color: green;
}

.shadowbox1 {
    width: 15em;
    border: 1px solid #333;
    box-shadow: 8px 8px 5px #444;
    padding: 8px 12px;
    background: linear-gradient(#e66465, #9198e5);

}
.shadowbox2 {
    width: 15em;
    border: 1px solid #333;
    box-shadow: 8px 8px 5px #444;
    padding: 8px 12px;
    background: linear-gradient(0.25turn, #3f87a6, #ebf8e1, #f69d3c);

}

.fit-picture {
    width: 250px;
}
#design {
    width: 50%;
    padding: 10px;
    float: left;
}
footer {
    width: 100%;
    float: right;
    background-color: green;
    color: white;
    padding: 5px;
    margin: 10px;
    height: 100px;
}

.container {
    position: relative;
    width: 50%;
}

.image {
    display: block;
    width: 100%;
    height: auto;
}

.overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #008CBA;
    overflow: hidden;
    width: 0;
    height: 100%;
    transition: .5s ease;
}

.container:hover .overlay {
    width: 100%;
}

.text {
    white-space: nowrap;
    color: white;
    font-size: 20px;
    position: absolute;
    overflow: hidden;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}
.aarticle {
    width: 50%;
    padding: 10px;
    float: left;
}
.aaside {
    width: 40%;
    float: right;
    background-color: orange;
    color: white;
    padding: 5px;
    margin: 10px;
    height: 350px;
}