:root {
    --normal: 300;
    --bold: 700;

    --c--action: #47f;
    --c--text: #337;

    --duration: .2s;
    --ease-out: cubic-bezier(.35,.01,.25,.99);
}

body {
   <!-- background: #efefef; -->
    color: var(--c--text);
    font-family: 'Barlow', sans-serif;
    font-size: 16px;
    background: linear-gradient(0.25turn, #3f87a6, #ebf8e1, #f69d3c);
}

img {
    max-width: 100%;
    display: block;
    width: 20rem;

}

.h2 {
    font-size: 20px;
    line-height: 1.2;
    margin: 0;
    font-family: cursive;
}

.section-title {
    font-size: 13px;
    font-weight: var(--bold);
    margin-top: 40px;
    text-align: center;
    text-transform: uppercase;
}
.section-title:first-child {
    margin-top: 0;
}



.grid {
    display: grid;
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    margin: 20px auto;
    max-width: 800px;
}
@media screen and (min-width: 600px) {
    .grid {
        grid-template-columns: 1fr 1fr;
    }
}

.grid.grid--vertical {
    grid-template-columns: 1fr;
}



.story {
    --pad: 20px;
    --c--dim: #ddd;

    background: #fff;
    display: block;
    color: inherit;
    position: relative;
    text-decoration: none;
    transition: var(--duration) var(--ease-out);
    transition-property: background-color, color;
    will-change: background-color, color;
}
.story:focus,
.story:hover {
    background-color: var(--c--dim);
    color: var(--c--action);
}
.story.story--thumb {
    display: flex;
}



.story__info {
    align-items: center;
    justify-content: space-between;
    display: flex;
    padding: var(--pad);
}
.story__info.story__info--thumb {
    display: block;
    flex: 1 0 55%;
}

.story__more {
    border-bottom: 1px solid var(--c--action);
    flex: 0 0 auto;
    font-size: 13px;
    padding: 8px 0;
    white-space: nowrap;
}
.story__more:last-child {
    margin-left: 16px;
}
.story__more.story__more--thumb {
    display: inline-block;
    margin: 20px 0 0;
}



.story__image {
    height: 100%;
    left: 0;
    object-fit: cover;
    position: absolute;
    top: 0;
    transition: var(--duration) var(--ease-out);
    transition-property: filter, transform;
    will-change: filter, transform;
    width: 100%;
}
.story:focus .story__image,
.story:hover .story__image {
    mix-blend-mode: multiply;
    filter: blur(2px) grayscale(100%);
    transform: scale(1.05);
}
.story__image.story__image--thumb {
    position: static;
}

.story__media {
    height: 0;
    padding-top: 56.25%; /* 16x9 */
    position: relative;
    overflow: hidden;
    transition: background-color var(--duration) var(--ease-out);
}
.story:focus .story__media,
.story:hover .story__media {
    background-color : var(--c--action);
}
.story__media.card__media--thumb {
    flex: 0 1 200px;
    height: auto;
    padding: 0;
    position: static;
}



* {
    box-sizing: border-box;
}



img {
    display: block;
    width: 20rem;
    max-width: 100%;
    margin: 5px;

}



.wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.box-shadow {
    box-shadow: 0.35rem 0.35rem 0.4rem rgba(0, 0, 0, 0.5);
}

.drop-shadow {
    filter: drop-shadow(0.35rem 0.35rem 0.4rem rgba(0, 0, 0, 0.5));
}


button{
    background-color: orange;
    border-radius: 15px;
    border: black;
    height: 50px;
    width: 300px;
}


.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.nav{
    display: flex;
}
.header_logo{
    width: 100px;
    height: 100px;

}
.nav_item{
    text-decoration: none;
    color: blue;
    width: 200px;
    height: 50px;
    text-align: center;
    align-items: center;
    list-style-type: none;
}
.header_enter_btn{
    background-color: springgreen;
    width: 100px;
    margin-right: 20px;
    margin-left: 20px;

}
.header_info{
    display: flex;
    align-items: center;
}

.button_text{
    margin: 10px;
    text-decoration-color: white;
}
.nav_item_text{
    padding-top: 15px;
}